/* Start Common Code  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
a {
    list-style-type: none;
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.flex_box {
    display: flex;
}

.font_1 {
    color: #ffffff;
    font-weight: 800;
}

.font_2 {
    color: #7e8287;
    font-weight: 800;
}

/* End Common Code */




/*Start header Section*/
nav {
    background-color: #02918c;
}

nav>div.flex_box {
    justify-content: space-between;
    align-items: center;
}

nav>div.flex_box>ul>li a {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 13px 21px;

}

/*End header Section*/




/*Start Banner Section*/
section>div.image {
    height: 728px;
    background-image: url(overlay_image_1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    fill-opacity: 34%;
}

section>div>div.overlay {
    height: 100%;
    background: linear-gradient(36deg, rgba(14, 128, 124, 18%), rgba(207, 201, 29, 18%));
    background-blend-mode: color-dodge;
    opacity: 100%;
}

div>div>p.big_size {
    font-size: 68px;
    line-height: 75px;
    font-weight: 800;
    letter-spacing: 32px;
    text-transform: uppercase;

}

div>div>p.large {
    font-size: 30px;
    line-height: 25px;
    font-weight: 800;
}

div>div>p.small {
    font-size: 18px;
    line-height: 33px;
    font-weight: 800;
}

div.anchor>a {
    position: relative;
    top: 150px;
    color: #0b1016;
    background-color: #cfc91d;
    font-size: 14px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 4px;
    padding: 19px 43px;
    text-align: center;
}

section>div>div>div.container {
    text-align: center;
    position: relative;
    top: 210px;
}

/*End Banner Section*/



/*Start About Me Section*/
.center_align {
    text-align: center;
}

.center_align>h1 {
    font-size: 46px;
    color: #02918c;
    font-weight: 800;
}

.center_align>p {
    font-size: 16px;
    color: #7e8287;
}

.center_align>p>span {
    font-size: 23px;
}

.padding {
    padding: 122px;
}

/*End About Me Section*/



/* Start Title Section*/
#section_three>.container{
    width: 1070px;
}

#section_three>div.flex_box{
    align-items: center;
}
.item_height_width{
    text-align: center;
    width:290px;
    height: 250px;
    padding: 30px 30px;
    margin: auto;
}
.title_image>h3{font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    padding: 15px 0 ;
}

.title_image>p{font-size: 11px;
    color: #7e8287; 
    line-height: 21px;
    padding: 15px 0;
}

.title_image>img{
    margin:auto;
    display:inline-block;
    
}

#section_three>div.flex_box>div.flex_box{align-items: center;}




/*End Title Section*/